keras==2.11.0
scipy==1.10.1
streamlit==1.21.0
streamlit-option-menu==0.3.2
tables==3.7.0
TBB==0.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
torch==1.12.1
